@page
@model IndexModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
       
        </dt>
        <dd class="col-sm-10 ">
            @*@Html.DisplayFor(model => model.User.Avatar)*@
            <img class="rounded-circle border" src="@Model.User.Avatar" width="150" height="150" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Major Name</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Major.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Description)
        </dd>

    </dl>
</div>
<div>
    @if (Model.IsLoggingIn != null && Model.IsLoggingIn == true)
    {
        <a asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> 
    }
    @if (Model.IsLoggingIn != null && Model.IsLoggingIn == false)
    {
        <form method="post" asp-page-handler="Report" asp-route-id="@Model.User.Id">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#report-user">Report</button>
            <div class="modal" id="report-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Cancel</h2>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to report @Model.User.Email?</p>
                            <input type="text" name="content"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Yes, Report</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</div>
