@page
@model Freelancer_s_Web.Pages.ReportPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reportee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reportee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reporter.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
