@page
@model Freelancer_s_Web.Pages.ReportPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Report Management</h1>
<div class="row">
    <div class="col-sm-4 mb-4">
        <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search reporter or reportee...">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Reportee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myProducts">
@foreach (var item in Model.Report) {
        <tr class="table">
            <td class="title" >
                <a class="text-danger" asp-area="" asp-page="/Profile/Index" asp-page-handler="Detail" asp-route-id="@item.Reportee.Id">@Html.DisplayFor(modelItem => item.Reportee.Email)</a> 
            </td>
            <td class="title">
                <a asp-area="" asp-page="/Profile/Index" asp-page-handler="Detail" asp-route-id="@item.Reporter.Id">@Html.DisplayFor(modelItem => item.Reporter.Email)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function myFunction() {
        var input, filter, cards, cardContainer, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myProducts");
        cards = cardContainer.getElementsByClassName("table");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>