@page
@model Freelancer_s_Web.Pages.ReportPage.ReportedListModel

@{
    ViewData["Title"] = "Reported";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Reportee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Report) {
        <tr>
            <td>
                <a asp-area="" asp-page="/Profile/Index" asp-page-handler="Detail" asp-route-id="@item.Reportee.Id">@Html.DisplayFor(modelItem => item.Reportee.Email)</a> 
            </td>
            <td>
                <a asp-area="" asp-page="/Profile/Index" asp-page-handler="Detail" asp-route-id="@item.Reporter.Id">@Html.DisplayFor(modelItem => item.Reporter.Email)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
