@page
@using Freelancer_s_Web.Commons
@model Freelancer_s_Web.Pages.PostPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
     .comment{
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: white;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    width : 100%;
    
     }
     .comment h4,.comment span{
     display: inline;
     }

     .comment p,.comment span{
     color: black;
     }

     h3,h4{
     color: black;
     font-weight: bold;
     }

     #ava-cmt{
         width:100% ;
         height:100%;
     }

     #buttong{
         margin-left:440px;
         float:right;
         background-color: blueviolet;
         color:white;
     }

     #btn-person{
     background-color:white;
     border:none;
     }
    </style>
</head>

<h1>@Model.Post.Title</h1>

<div>
    <h4>Post Detail</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Major.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Status)
        </dt>
            @if (@Model.Post.Status == CommonEnums.POST_STATUS.PUBLIC)
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("PUBLIC")
                    </dd>
                }
                else if (@Model.Post.Status == CommonEnums.POST_STATUS.PRIVATE)
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("PRIVATE")
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("REMOVE")
                    </dd>
                }
    </dl>
</div>

<div style="float:left; width:100%; margin-bottom:30px">
    <h3>Contents</h3>
    <hr />
    @foreach(var pc in Model.postContents)
    {
        if (pc.Type == CommonEnums.POST_CONTENT_TYPE.IMAGE)
        {
            <img src="@pc.Url" alt="" style="float:left;">
        }
        else
        {
            <video style="width:70%; height:500px; float:left;" control>
                <source src="@pc.Url" type="video/mp4">
            </video>
        }
    }
</div>

<div class="row">
            <div class="col-sm-8">
                <h3>Comments</h3>
                <hr />
                	<h2>New Comment</h2>
                	
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-10 col-lg-2 hidden-xs">
                            	<img src="@Model.User.Avatar" alt="" class="rounded-circle" id="ava-cmt">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea asp-for="comment.Content" class="form-control" id="message" placeholder="Your comment"></textarea>
                            </div>
                        </div>  	
                    </fieldset>
                    <button type="submit" class="btn btn-normal pull-right" id="buttong">Comment</button>

                @foreach(var item in Model.comments) {
                    if(item.UserId == @Model.User.Id){
                    
                    <div class="comment mt-4 text-justify float-left">
                    <img src="@item.User.Avatar" alt="" class="rounded-circle" width="40" height="40">
                    <h4>@item.User.DisplayName</h4>
                    <br>
                    <span> @item.CreatedAt</span>
                    <br>
                    <p>@item.Content</p>
                    </div>
                    <br>
                    <a asp-page="/CommentPage/Edit" asp-route-id="@item.Id" id="btn-person">Edit</a> 
                    <a asp-page="/CommentPage/Delete" asp-route-id="@item.Id" id="btn-person">Delete</a>
                    }else
                    {
                    <div class="comment mt-4 text-justify float-left">
                    <img src="@item.User.Avatar" alt="" class="rounded-circle" width="40" height="40">
                    <h4>@item.User.DisplayName</h4>
                    <br>
                    <span> @item.CreatedAt</span>
                    <br>
                    <p>@item.Content</p>
                    </div>
                    }
                }
            </div>
</div>
<br>
<div>
   @* <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a>
    <a asp-page="./Index">Back to List</a>*@
    <a asp-page="/ApplicationPages/Create" asp-route-id="@Model.Post.Id" class="btn btn-primary">Apply</a>
    <a asp-page="" class="btn btn-primary"></a>
    <a asp-page="" class="btn btn-primary"></a>
</div>
