@page
@using Freelancer_s_Web.Commons
@using System.Reflection.Metadata
@model Freelancer_s_Web.Pages.PostPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
     .comment{
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: white;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    width : 100%;
    
     }
     .comment h4,.comment span{
     display: inline;
     }

     .comment p,.comment span{
     color: black;
     }

     h3,h4{
     color: black;
     font-weight: bold;
     }
    </style>
</head>

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Major.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Status)
        </dt>
            @if (@Model.Post.Status == CommonEnums.POST_STATUS.PUBLIC)
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("PUBLIC")
                    </dd>
                }
                else if (@Model.Post.Status == CommonEnums.POST_STATUS.PRIVATE)
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("PRIVATE")
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10">
                       @Html.DisplayName("REMOVE")
                    </dd>
                }
    </dl>
</div>
<div class="col-md-4">
        aspd
        @if (Model.isAuthor)
        {
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="postId" value="@Model.Post.Id" />
            <p>Upload audio, pdf, image, video</p>
            <div class="form-group">
                <input asp-for="FileUpload.FormFile" type="file" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add new file" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
<div style="float:left; width:100%; margin-bottom:30px">
    <h3>Contents</h3>
    <hr />
    @foreach(var pc in Model.postContents)
    {
        if (CommonEnums.POST_CONTENT_TYPE.IMAGE.Contains(pc.Type))
        {
            <div class="img">
                <img src="data:@pc.Type;base64,@pc.FileBase64" alt="" style="float:left;">
            </div>
        }
        else if (CommonEnums.POST_CONTENT_TYPE.VIDEO.Contains(pc.Type))
        {
            <div class="vid">
                <video src="data:@pc.Type;base64,@pc.FileBase64" style="width:70%; height:500px; float:left;" controls>
                </video>
            </div>
        }
        else if (CommonEnums.POST_CONTENT_TYPE.PDF.Contains(pc.Type))
        {
            <div class="img">
                <embed src="data:@pc.Type;base64,@pc.FileBase64"/>
            </div>
        }
        else if (CommonEnums.POST_CONTENT_TYPE.AUDIO.Contains(pc.Type))
        {
            <audio controls="controls" autobuffer="autobuffer" autoplay="autoplay">
                <source src="data:@pc.Type;base64,@pc.FileBase64"/>
            </audio>
        }
        else
        {
            <p>Cannot read file.</p>
        }
    }
    
    
</div>

<div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h3>Comments</h3>
                <hr />
                @foreach(var item in Model.comments) {
                <div class="comment mt-4 text-justify float-left">
                    <img src="@item.User.Avatar" alt="" class="rounded-circle" width="40" height="40">
                    <h4>@item.User.DisplayName</h4>
                    <span>- @item.CreatedAt</span>
                    <br>
                    <p>@item.Content</p>
                </div>
                }
            </div>
</div>

<div>
   @* <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a>
    <a asp-page="./Index">Back to List</a>*@
    <a asp-page="/ApplicationPages/Create" asp-route-postId="@Model.Post.Id" class="btn btn-primary">Apply</a>
    <a asp-page="" class="btn btn-primary"></a>
    <a asp-page="" class="btn btn-primary"></a>
</div>
