@page
@model Freelancer_s_Web.Pages.PostPage.ListFormModel

@{
    ViewData["Title"] = "ListForm";
}

<h1>ListForm</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].Cv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationForm[0].UpdatedBy)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApplicationForm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="/ApplicationPages/ApplicationList" asp-page-handler="DownloadCV" asp-route-id="@item.Id">Download CV</a>
            </td>
            <td>
                <a asp-page="/Profile/Index" asp-page-handler="Detail" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.User.Email)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
        </tr>
}
    </tbody>
</table>
